.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1em;
}

.flash.succes {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash.info {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}