{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}">
{% endblock %}
{% block content %}
<div class="requests-container">
    {% for request in requests %}
    <div class="request-box">
        <h3>{{ request.food_name }}</h3>
        <p><strong>Description:</strong> {{ request.description }}</p>
        <form action="/admin/delete-request" method="POST" class="delete-form">
            <input type="hidden" name="id" value="{{ request.id }}">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </div>
    {% else %}
    <p>No user requests found.</p>
    {% endfor %}
</div>
{% endblock %}