<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food Suggestion{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>

<body>
    <div id="topBar">
        <h1><a href="/" style="text-decoration: none; color: inherit;">FoodSuggestion</a></h1>
        <div class="auth-links">
            <div class="user-dropdown">
                <button class="menu" onclick="toggleDropdown()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="dropdown-menu">
                    <a href="/aboutus">About Us</a>
                    {% if session.get('google_id') %}
                    {% if user.get('admin') %}
                    <a href="/admin">Admin</a>
                    {% endif %}
                    <a href="/users/profile">Profile</a>
                    <a href="/users">History</a>
                    <a href="/auth/logout">Logout</a>
                    {% else %}
                    <a class="google-login-btn" href="{{ url_for('google.login') }}">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleDropdown() {
            const menu = document.querySelector('.menu');
            menu.classList.toggle('open');
            var dropdown = event.target.closest('.user-dropdown');
            dropdown.classList.toggle('show-dropdown');
        }
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>