<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your K-food{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/flash.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div id="topBar">
    <h1>
        <a href="/" style="text-decoration: none; color: inherit;">Your K-food</a>
    </h1>
    <div class="auth-links">
        {% if session.get('google_id') %}
          <div class="user-dropdown">
              <span class="username" onclick="toggleDropdown()">{{ user.get('name', 'Guest') }}</span>
              <div class="dropdown-menu">
                  {% if user.get('admin') %}
                      <a href="/admin">Admin</a>
                  {% endif %}
                  <a href="/request">Request</a>
                  <a href="/users">History</a>
                  <a href="/auth/logout">Logout</a>
              </div>
          </div>
        {% else %}
          <div class="user-dropdown">
            <!-- <span class="guest" onclick="toggleDropdown()">Guest</span>
            <div class="dropdown-menu">
                <a href="/request">Request</a> -->
            <a class="google-login-btn" href="{{ url_for('google.login') }}">
                <i class="fab fa-google"></i> Sign in
            </a>
            <!-- </div> -->
          </div>
        {% endif %}
    </div>
</div>
<script>
  function toggleDropdown() {
      var dropdown = event.target.closest('.user-dropdown');
      dropdown.classList.toggle('show-dropdown');
  }
</script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
