{% extends "base.html" %}
{% block title %}{{ dish.dish_name | capitalize }}{% endblock %}
{% block content %}
<div class="review-container">
    <h2>Dietary of {{ dish.dish_name }}</h2>
    <form method="POST" action="/dishes/dietary_review/{{ dish.dish_name }}">
        <div class="input-group">
            <select id="dietary" name="dietary">
                <option value="" disabled selected>What was the type of dietary?</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Halal">Halal</option>
                <option value="Seafood">Seafood</option>
                <option value="Broth">Broth</option>
                <option value="Contain Meat">Contain Meat</option>
            </select>
        </div>
        <div class="button-box" style="display: flex;">
            <button type="submit" class="button select-button" style="width: auto;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}