{% extends "base.html" %}
{% block title %}Food Selection Confirmation{% endblock %}
{% block content %}
<div class="confirmation-container">
    <h2>This is a <strong>{{ dish.dish_name }}</strong> page!</h2>
    <p>This dish is a great choice based on your preferences!</p>

    <div class="button-box">
        <a href="https://mykoreankitchen.com/?s={{ dish.dish_name | urlize }}" class="button recipe-button">Recipe</a>
        <form action="/dishes/select/{{ dish.dish_name }}" method="post" style="display:inline;">
            <button type="submit" class="button select-button">Select</button>
        </form>
        <button onclick="window.location.href='/'" class="button home-button">Home</button>
    </div>
    
</div>
{% endblock %}
