{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/search.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
{% endblock %} {% block content %}
<div id="recommendation-results">
  <div class="search-container">
    <input
      type="text"
      id="search-input"
      placeholder="Search"
      onkeyup="filterDishes()"
    />
    <button type="button" class="filter-button" onclick="toggleFilterOptions()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-filter"
      >
        <polygon points="22 3 2 3 10 12.5 10 19 14 21 14 12.5 22 3"></polygon>
      </svg>
    </button>
  </div>

  <div class="filter-container" style="display: none">
    <div class="filter-box" style="margin-bottom: 20px; height: auto">
      <div style="display: flex; flex-wrap: wrap; width: auto; margin: -5px">
        <div>
          <input
            type="radio"
            id="filter-dietary"
            name="filter"
            value="dietary"
            onclick="showFilterOptions()"
          />
          <label for="filter-dietary">Dietary</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-ingredient"
            name="filter"
            value="ingredient"
            onclick="showFilterOptions()"
          />
          <label for="filter-ingredient">Ingredient</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-spiciness"
            name="filter"
            value="spiciness"
            onclick="showFilterOptions()"
          />
          <label for="filter-spiciness">Spiciness</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-rating"
            name="filter"
            value="rating"
            onclick="showFilterOptions()"
          />
          <label for="filter-rating">Rating</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-texture"
            name="filter"
            value="texture"
            onclick="showFilterOptions()"
          />
          <label for="filter-texture">Texture</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-sourness"
            name="filter"
            value="sourness"
            onclick="showFilterOptions()"
          />
          <label for="filter-sourness">Sourness</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-sweetness"
            name="filter"
            value="sweetness"
            onclick="showFilterOptions()"
          />
          <label for="filter-sweetness">Sweetness</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-temperature"
            name="filter"
            value="temperature"
            onclick="showFilterOptions()"
          />
          <label for="filter-temperature">Temperature</label>
        </div>
        <div>
          <input
            type="radio"
            id="filter-healthiness"
            name="filter"
            value="healthiness"
            onclick="showFilterOptions()"
          />
          <label for="filter-healthiness">Healthiness</label>
        </div>
        <form action="/dishes" method="POST">
          <button
            type="submit"
            id="filter-reset"
            name="filter"
            value="reset"
          ></button>
          <label for="filter-reset">Reset</label>
        </form>
      </div>
      <form
        action="/dishes/ingredient"
        method="POST"
        id="ingredient-options"
        class="filter-options"
        style="display: none"
      >
        <select id="ingredient-select" name="ingredient">
          {% for ingredient in ingredients %}
          <option value="{{ ingredient.ingredient }}">
            {{ ingredient.ingredient }}
          </option>
          {% endfor %}
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/dietary"
        method="POST"
        id="dietary-options"
        class="filter-options"
        style="display: none"
      >
        <select id="dietary-select" name="dietary">
          {% for dietary in dietaries %}
          <option value="{{ dietary.dietary }}">{{ dietary.dietary }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/spiciness"
        method="POST"
        id="spiciness-options"
        class="filter-options"
        style="display: none"
      >
        <select id="spiciness-select" name="spiciness" required>
          <option value="0" selected>Not spicy at all</option>
          <option value="1">A little spicy</option>
          <option value="2">Mildly spicy</option>
          <option value="3">Moderately spicy</option>
          <option value="4">Very spicy</option>
          <option value="5">Extremely spicy</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/sweetness"
        method="POST"
        id="sweetness-options"
        class="filter-options"
        style="display: none"
      >
        <select id="sweetness" name="sweetness" required>
          <option value="0" selected>Not sweet at all</option>
          <option value="1">Barely sweet</option>
          <option value="2">Mildly sweet</option>
          <option value="3">Moderately sweet</option>
          <option value="4">Very sweet</option>
          <option value="5">Extremely sweet</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/sourness"
        method="POST"
        id="sourness-options"
        class="filter-options"
        style="display: none"
      >
        <select id="sourness" name="sourness" required>
          <option value="0" selected>Not sour at all</option>
          <option value="1">Slightly sour</option>
          <option value="2">Moderately sour</option>
          <option value="3">Quite sour</option>
          <option value="4">Very sour</option>
          <option value="5">Extremely sour</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/texture"
        method="POST"
        id="texture-options"
        class="filter-options"
        style="display: none"
      >
        <select id="texture" name="texture" required>
          <option value="0" selected>Very Soft</option>
          <option value="1">Soft</option>
          <option value="2">Slightly Soft</option>
          <option value="3">Moderate</option>
          <option value="4">Slightly Hard</option>
          <option value="5">Hard</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/temperature"
        method="POST"
        id="temperature-options"
        class="filter-options"
        style="display: none"
      >
        <select id="temperature" name="temperature" required>
          <option value="0" selected>Cold</option>
          <option value="1">Cool</option>
          <option value="2">Slightly Cool</option>
          <option value="3">Warm</option>
          <option value="4">Hot</option>
          <option value="5">Very Hot</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/healthiness"
        method="POST"
        id="healthiness-options"
        class="filter-options"
        style="display: none"
      >
        <select id="healthiness" name="healthiness" required>
          <option value="0" selected>Not healthy at all</option>
          <option value="1">Unhealthy</option>
          <option value="2">Below average</option>
          <option value="3">Moderately healthy</option>
          <option value="4">Healthy</option>
          <option value="5">Very healthy</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
      <form
        action="/dishes/rating"
        method="POST"
        id="rating-options"
        class="filter-options"
        style="display: none"
      >
        <select id="rating" name="rating" required>
          <option value="0" selected>Terrible</option>
          <option value="1">Bad</option>
          <option value="2">Below Average</option>
          <option value="3">Average</option>
          <option value="4">Good</option>
          <option value="5">Excellent</option>
        </select>
        <button type="submit" class="food-box-button">Filter Out</button>
      </form>
    </div>
  </div>

  {% if recommendation and recommendation[0].dish_name != "No match found" %}
  <ul class="food-container" id="food-list">
    {% for dish in recommendation %}
    <li class="food-item">
      <form
        action="/dishes/{{ dish.dish_name }}"
        method="POST"
        class="food-box"
      >
        <div class="dish-image-wrapper">
          {% if dish.image_url %}
          <img
            src="{{ dish.image_url }}"
            alt="{{ dish.korean_name }}"
            class="dish-image"
          />
          {% endif %}
        </div>
        <button type="button" class="favorite-btn">
          {% if dish.dish_name in favorites %}
          <i class="fa-solid fa-heart" style="color: #d72638"></i>
          {% else %}
          <i class="fa-regular fa-heart"></i>
          {% endif %}
        </button>
        <h3>{{ dish.korean_name }}</h3>
        <p><b>{{ dish.dish_name }}</b> which is {{ dish.description }}</p>
        <div class="click-indicator">
          <span>Click to view details</span>
        </div>
        <button type="submit" class="hidden-submit-btn"></button>
      </form>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  <div class="no-matches">
    <h2>No Matches Found</h2>
    <p>Try relaxing the filters or selecting different criteria.</p>
  </div>
  {% endif %}

  <!-- <div class="request-dishes">
        <h2>Not enough dishes?</h2>
        <button onclick="document.getElementById('requestModal').style.display='block'">Request a new dish</button>
    </div> -->

  <!-- <div id="requestModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('requestModal').style.display='none'">&times;</span>
            <form action="/request/submit-request" method="POST" class="criteria-form">
                <label><b>Name</b></label><br>
                <input autocomplete="text" id="name" name="name" placeholder="Example: Sundae" required><br>
                <label><b>Description</b></label><br>
                <textarea id="description" name="description" rows="4"
                    placeholder="Example: Korean blood sausage stuffed with glass noodles" required></textarea>
                <button type="submit">Request</button>
            </form>
        </div>
    </div> -->
</div>

<script>
  function filterDishes() {
    let input = document.getElementById("search-input").value.toLowerCase();
    let foodItems = document.querySelectorAll(".food-item");

    foodItems.forEach((item) => {
      let dishName = item.querySelector("h3").textContent.toLowerCase();
      let description = item.querySelector("p").textContent.toLowerCase();

      if (dishName.includes(input) || description.includes(input)) {
        item.style.display = "";
      } else {
        item.style.display = "none";
      }
    });
  }

  function showFilterOptions() {
    let ingredientOptions = document.getElementById("ingredient-options");
    let dietaryOptions = document.getElementById("dietary-options");
    let spicinessOptions = document.getElementById("spiciness-options");
    let sweetnessOptions = document.getElementById("sweetness-options");
    let sournessOptions = document.getElementById("sourness-options");
    let textureOptions = document.getElementById("texture-options");
    let temperatureOptions = document.getElementById("temperature-options");
    let healthinessOptions = document.getElementById("healthiness-options");
    let ratingOptions = document.getElementById("rating-options");

    ingredientOptions.style.display = "none";
    dietaryOptions.style.display = "none";
    spicinessOptions.style.display = "none";
    sweetnessOptions.style.display = "none";
    sournessOptions.style.display = "none";
    textureOptions.style.display = "none";
    temperatureOptions.style.display = "none";
    healthinessOptions.style.display = "none";
    ratingOptions.style.display = "none";

    if (document.getElementById("filter-ingredient").checked) {
      ingredientOptions.style.display = "block";
    } else if (document.getElementById("filter-dietary").checked) {
      dietaryOptions.style.display = "block";
    } else if (document.getElementById("filter-spiciness").checked) {
      spicinessOptions.style.display = "block";
    } else if (document.getElementById("filter-sweetness").checked) {
      sweetnessOptions.style.display = "block";
    } else if (document.getElementById("filter-sourness").checked) {
      sournessOptions.style.display = "block";
    } else if (document.getElementById("filter-texture").checked) {
      textureOptions.style.display = "block";
    } else if (document.getElementById("filter-temperature").checked) {
      temperatureOptions.style.display = "block";
    } else if (document.getElementById("filter-healthiness").checked) {
      healthinessOptions.style.display = "block";
    } else if (document.getElementById("filter-rating").checked) {
      ratingOptions.style.display = "block";
    }
  }

  function toggleFilterOptions() {
    let filterContainer = document.querySelector(".filter-container");
    if (filterContainer.style.display === "none") {
      filterContainer.style.display = "block";
    } else {
      filterContainer.style.display = "none";
    }
  }
</script>
{% endblock %}
