{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}
{% block content %}

<div class="introduction-form">
  <h3>Korean Cuisine</h3>
  <p>Discover the authentic flavors of Korea! Explore detailed reviews, nutritional insights, and dishes tailored to your taste.</p>
</div>

<!-- <div class="carousel">
  <div class="slide active">
    <h3>Trending</h3>
    <ul>
      {% for dish in top_dishes %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Spiciest</h3>
    <ul>
      {% for dish in top_spicy %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Sweetness</h3>
    <ul>
      {% for dish in top_sweet %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Sourest</h3>
    <ul>
      {% for dish in top_sour %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Healthiest</h3>
    <ul>
      {% for dish in top_healthy %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Hottest</h3>
    <ul>
      {% for dish in top_temperature %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Popular</h3>
    <ul>
      {% for dish in top_rating %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <div class="slide">
    <h3>Softest</h3>
    <ul>
      {% for dish in top_texture %}
        <li><b>{{ loop.index }}. {{ dish.dish_name }}</b></li>
      {% endfor %}
    </ul>
  </div>
</div> -->

<div class="explore-section">
  <form action="/dishes" method="post" class="introduction-form">
    <h3>Food & Beverage</h3>
    <p>Discover a variety of korean food and beverage curated to match your taste.</p>
    <button type="submit">Explore Now</button>
  </form>

  <form action="/ingredients" method="post" class="introduction-form">
    <h3>Ingredient</h3>
    <p>Find various Korean ingredients with nutrients used in korean food and beverage.</p>
    <button type="submit">Explore Now</button>
  </form>
</div>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    let slides = document.querySelectorAll(".slide");
    let currentIndex = 0;

    function showNextSlide() {
      slides[currentIndex].classList.remove("active");
      currentIndex = (currentIndex + 1) % slides.length;
      slides[currentIndex].classList.add("active");
    }

    setInterval(showNextSlide, 5000); // Switch slide every 5 seconds
  });
</script> -->

{% endblock %}
