{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="top-foods">
  <section id="top-rated-food">
    <h2>Top-Rated Food</h2>
    <ul>
      {% for dish, rating in average_ratings.items() %}
        {% if rating > 0 %}
          <li>
            <strong>{{ dish }}</strong> - Average Rating: {{ rating }}/5
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  
  <section id="most-selected-food">
    <h2>Most Selected Food</h2>
    <ul>
      {% for dish, count in selection_counts.items() %}
        {% if count > 0 %}
          <li>
            <strong>{{ dish }}</strong> - Selected {{ count }} times
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  
</div>


  <form action="/recommendation" method="post" class="criteria-form">
    <div id="selectBox">
      <label for="description">Describe a korean food:</label><br>
      <textarea id="description" name="description" rows="4" placeholder="Sweet pancakes filled with cinnamon, brown sugar, and nuts."
      required></textarea><br><br>
    </div>
    <div id="buttonBox">
      <button type="submit">Search</button>
    </div>
  </form>
{% endblock %}
