{% extends "base.html" %}
{% block title %}{{ dish.dish_name | capitalize }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/ingredient.css') }}">
{% endblock %}
{% block content %}
<div class="review-container">
    <h2>Ingredient</h2>
    <form method="POST" action="/dishes/ingredient_review/{{ dish.dish_name }}">
        <div class="input-group">
            <select id="ingredient" name="ingredient" required>
                {% for ingredient in ingredients %}
                <option value="{{ ingredient.ingredient }}">{{ ingredient.ingredient }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="button-box" style="display: flex;">
            <button type="submit" class="button select-button" style="width: auto;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}