{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/search.css') }}">
{% endblock %}
{% block content %}
<div id="recommendation-results">
    {% if recommendation and recommendation[0].ingredient != "No match found" %}
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search" onkeyup="filterIngredients()" />
    </div>

    <div class="filter-container">
        <div class="filter-box" style="margin-bottom: 20px; height: auto; width: 90%;">
            <div>
                <label for="filter-select">Filter by:</label>
                <select id="filter-select" onchange="showFilterOptions()">
                    <option value="" disabled selected>Select an option</option>
                    <option value="nutrient">Nutrient</option>
                </select>
            </div>
            <div id="nutrient-options" class="filter-options" style="display: none;">
                {% for nutrient in nutrients %}
                <div>
                    <input type="radio" id="nutrient-{{ nutrient.nutrient }}" name="nutrient" value="{{ nutrient.nutrient }}">
                    <label for="nutrient-{{ nutrient.nutrient }}">{{ nutrient.nutrient }}</label>
                </div>
                {% endfor %}
                <button type="submit" class="food-box-button">Filter Out</button>
            </div>
        </div>
    </div>

    <ul class="food-container" id="food-list">
        {% for ingredient in recommendation %}
        <li class="food-item">
            <form action="/ingredients/{{ ingredient.ingredient }}" method="POST" class="food-box">
                <h2>{{ ingredient.korean_name }}</h2>
                <p><b>{{ ingredient.ingredient }}</b> that {{ ingredient.description }}</p>
                <button type="submit" class="food-box-button">See More</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="no-matches">
        <h2>No Matches Found</h2>
        <p>Try relaxing the filters or selecting different criteria.</p>
    </div>
    {% endif %}

    <form action="/request" class="request-dishes">
        <h2>Not enough Ingredients?</h2>
        <button>Request a new ingredient</button>
    </form>
</div>

<script>
    // Function to filter the dishes based on the search input
    function filterIngredients() {
        let input = document.getElementById("search-input").value.toLowerCase();
        let foodItems = document.querySelectorAll(".food-item");
        
        foodItems.forEach(item => {
            let dishName = item.querySelector("h2").textContent.toLowerCase();
            let description = item.querySelector("p").textContent.toLowerCase();

            if (dishName.includes(input) || description.includes(input)) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        });
    }

    function showFilterOptions() {
        let filterSelect = document.getElementById("filter-select").value;
        let nutrientOptions = document.getElementById("nutrient-options");

        nutrientOptions.style.display = "none";

        if (filterSelect === "nutrient") {
            nutrientOptions.style.display = "block";
        }
    }
</script>
{% endblock %}