{% extends "base.html" %}
{% block title %}{{ ingredient.ingredient | capitalize }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/food.css') }}">
{% endblock %}
{% block content %}
<div class="confirmation-container">
    <h2>{{ ingredient.korean_name }}</h2>
    <p><b>{{ ingredient.ingredient }}</b> that {{ ingredient.description }}</p>
    
    <h3>Dishes</h3>
    <div class="ingredients-list">
        {% if dishes %}
        {% for dish in dishes %}
        <a href="/dishes/{{ dish }}" class="ingredient-tag">
            <i class="icon-{{ dish | lower }}"></i> {{ dish }}
        </a>
        {% endfor %}
        {% else %}
        <p>No dish information available.</p>
        {% endif %}
    </div>

    <h3>Nutrients</h3>
    <div class="dietary-tags">
        {% if nutrient %}
        {% for nutrient, count in nutrient.items() %}
        {% if count > 0 %}
        <span class="dietary-tag">
            <i class="icon-{{ nutrient }}"></i> {{ nutrient }} ({{ count }})
        </span>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No nutrient information available.</p>
        {% endif %}
    </div>

    <div class="button-box">
        <form action="/reviews/nutrient/{{ ingredient.ingredient }}" method="post" style="display:inline;">
            <button type="button" class="button select-button" onclick="document.getElementById('nutrientModal').style.display='block'">Review Nutrient</button>
        </form>
    </div><br>

    <div id="nutrientModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>{{ ingredient.korean_name }}</h2>
            <form method="POST" action="/ingredients/nutrient_review/{{ ingredient.ingredient }}">
                <label for="nutrient"><b>Nutrient:</b></label>
                <select id="nutrient" name="nutrient" required>
                    {% for nutrient in nutrients %}
                    <option value="{{ nutrient.nutrient }}">{{ nutrient.nutrient }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="button submit-button">Review</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var nutrientModal = document.getElementById("nutrientModal");
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == nutrientModal) {
            nutrientModal.style.display = "none";
        }
    }
</script>
{% endblock %}