{% extends "base.html" %}
{% block title %}{{ ingredient.ingredient | capitalize }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/food.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}
{% block content %}
<div class="confirmation-container">
    <form action="/ingredients/" method="POST" style="display:inline;">
        <button class="go-back-btn" type="submit">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </form>
    {% if ingredient.ingredient in favorites %}
    <form action="/favorite/delete/ingredient/{{ ingredient.ingredient }}" method="POST">
        <button class="favorite-btn" type="submit">
            <i class="fa-solid fa-heart" style="color: #d72638;"></i>
        </button>
    </form>
    {% else %}
    <form action="/favorite/add/ingredient/{{ ingredient.ingredient }}" method="POST">
        <button class="favorite-btn" type="submit">
            <i class="fa-regular fa-heart"></i>
        </button>
    </form>
    {% endif %}
    <h2>{{ ingredient.korean_name }}</h2>
    <p><b>{{ ingredient.ingredient }}</b> which is {{ ingredient.description }}</p>
    
    <h3>Dishes</h3>
    <div class="ingredients-list">
        {% if dishes %}
        {% for dish in dishes %}
        <a href="/dishes/{{ dish }}" class="ingredient-tag">
            <i class="icon-{{ dish | lower }}"></i> <b>{{ dish }}</b>
        </a>
        {% endfor %}
        {% else %}
        <p>No dish information available.</p>
        {% endif %}
    </div>

    <h3>Nutrients</h3>
    <div class="dietary-tags">
        {% if nutrient %}
        {% for nutrient, count in nutrient.items() | sort(attribute='1', reverse=True) %}
        {% if count > 0 %}
        <span class="dietary-tag">
            <i class="icon-{{ nutrient }}"></i> {{ nutrient }} ({{ count }}%)
        </span>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No nutrient information available.</p>
        {% endif %}
    </div>

    <div class="button-box" style="margin-bottom: -25px;">
        <form action="/reviews/nutrient/{{ ingredient.ingredient }}" method="post" style="display:inline;">
            <button type="button" class="button select-button" onclick="document.getElementById('nutrientModal').style.display='block'">Review</button>
        </form>
    </div><br>

    <div id="nutrientModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('nutrientModal').style.display='none'">&times;</span>
            <h2 style="margin-left: 16px;">{{ ingredient.korean_name }}</h2>
            <form method="POST" action="/ingredients/nutrient_review/{{ ingredient.ingredient }}" onsubmit="disableButton()">
                <label for="nutrient"><b>Nutrient:</b></label>
                <select id="nutrient" name="nutrient" required>
                    {% for nutrient in nutrients %}
                    <option value="{{ nutrient.nutrient }}">{{ nutrient.nutrient }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="submitButton" class="button submit-button">Review</button>
            </form>
        </div>
    </div>
</div>
<script>
function disableButton() {
    document.getElementById("submitButton").disabled = true;
}
</script>
{% endblock %}