{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/search.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}
{% block content %}
<div id="recommendation-results">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search" onkeyup="filterIngredients()" />
        <button type="button" class="filter-button" onclick="toggleFilterOptions()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.5 10 19 14 21 14 12.5 22 3"></polygon></svg>
        </button>
    </div>

    <div class="filter-container" style="display: none;">
        <div class="filter-box" style="margin-bottom: 20px; height: auto; width: 90%;">
            <div style="display: flex; flex-wrap: wrap; width: auto; margin: -5px;">
                <div>
                    <input type="radio" id="filter-dish" name="filter" value="dish" onclick="showFilterOptions()">
                    <label for="filter-dish">Dish</label>
                </div>
                <div>
                    <input type="radio" id="filter-nutrient" name="filter" value="nutrient" onclick="showFilterOptions()">
                    <label for="filter-nutrient">Nutrient</label>
                </div>
                <form action="/ingredients" method="POST">
                    <button type="submit" id="filter-reset" name="filter" value="reset"></button>
                    <label for="filter-reset">Reset</label>
                </form>
            </div>
            <form action="/ingredients/nutrient" method="POST" id="nutrient-options" class="filter-options" style="display: none;">
                <select id="nutrient-select" name="nutrient">
                    {% for nutrient in nutrients %}
                    <option value="{{ nutrient.nutrient }}">{{ nutrient.nutrient }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="food-box-button">Filter Out</button>
            </form>
            <form action="/ingredients/dish" method="POST" id="dish-options" class="filter-options" style="display: none;">
                <select id="dish-select" name="dish">
                    {% for dish in dishes %}
                    <option value="{{ dish.dish_name }}">{{ dish.dish_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="food-box-button">Filter Out</button>
            </form>
        </div>
    </div>

    {% if recommendation and recommendation[0].ingredient != "No match found" %}
    
    <ul class="food-container" id="food-list">
        {% for ingredient in recommendation %}
        <li class="food-item">
            <form action="/ingredients/{{ ingredient.ingredient }}" method="POST" class="food-box">
                <div class="dish-image-wrapper">
                    {% if ingredient.image_url %}
                    <img src="{{ ingredient.image_url }}" alt="{{ ingredient.korean_name }}" class="dish-image">
                    {% endif %}
                </div>
                <button type="button" class="favorite-btn" onclick="toggleFavorite(this)" tabindex="-1" style="z-index:2; position:absolute; right:10px; top:10px;">
                    {% if ingredient.ingredient  in favorites %}
                        <i class="fa-solid fa-heart" style="color: #d72638;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </button>
                <!-- <button type="submit" class="food-box-clickable" style="all:unset; flex:1 1 auto; width:100%; display:flex; flex-direction:column; justify-content:center; cursor:pointer; padding: 30px 20px 20px 20px; box-sizing: border-box;"> -->
                    <h3>{{ ingredient.korean_name }}</h3>
                    <p><b>{{ ingredient.ingredient }}</b> which is {{ ingredient.description }}</p>
                <!-- </button> -->
                <div class="click-indicator">
                    <span>Click to view details</span>
                </div>
                <button type="submit" class="hidden-submit-btn"></button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="no-matches">
        <h2>No Matches Found</h2>
        <p>Try relaxing the filters or selecting different criteria.</p>
    </div>
    {% endif %}

    <!-- <div class="request-dishes">
        <h2>Not enough Ingredients?</h2>
        <button onclick="document.getElementById('requestModal').style.display='block'">Request a new ingredient</button>
    </div> -->

    <!-- <div id="requestModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('requestModal').style.display='none'">&times;</span>
            <form action="/request/submit-request" method="POST" class="criteria-form">
                <label><b>Name</b></label><br>
                <input autocomplete="text" id="name" name="name" placeholder="Example: Sundae" required><br>
                <label><b>Description</b></label><br>
                <textarea id="description" name="description" rows="4"
                    placeholder="Example: Korean blood sausage stuffed with glass noodles" required></textarea>
                <button type="submit">Request</button>
            </form>
        </div>
    </div> -->

</div>

<script>
    function filterIngredients() {
        let input = document.getElementById("search-input").value.toLowerCase();
        let foodItems = document.querySelectorAll(".food-item");
        
        foodItems.forEach(item => {
            let dishName = item.querySelector("h2").textContent.toLowerCase();
            let description = item.querySelector("p").textContent.toLowerCase();

            if (dishName.includes(input) || description.includes(input)) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        });
    }

    function showFilterOptions() {
        let nutrientOptions = document.getElementById("nutrient-options");
        let dishOptions = document.getElementById("dish-options");
        let filterNutrient = document.getElementById("filter-nutrient");

        nutrientOptions.style.display = "none";
        dishOptions.style.display = "none";

        if (filterNutrient.checked) {
            nutrientOptions.style.display = "block";
        } else {
            dishOptions.style.display = "block";
        }
    }

    function toggleFilterOptions() {
        let filterContainer = document.querySelector(".filter-container");
        if (filterContainer.style.display === "none") {
            filterContainer.style.display = "block";
        } else {
            filterContainer.style.display = "none";
        }
    }
</script>
{% endblock %}