{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div id="formContainer">
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="POST" action="/login" class="auth-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="button">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
    <div id="buttonBox">
        <a href="/" class="button">Back to Home</a>
    </div>
{% endblock %}