{% extends "base.html" %}
{% block title %}{{ ingredient.ingredient | capitalize }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/dietary.css') }}">
{% endblock %}
{% block content %}
<div class="review-container">
    <h2>Nutrient</h2>
    <form method="POST" action="/ingredients/nutrient_review/{{ ingredient.ingredient }}">
        <div class="input-group">
            <select id="nutrient" name="nutrient" required>
                {% for nutrient in nutrients %}
                <option value="{{ nutrient.nutrient }}">{{ nutrient.nutrient }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="button-box" style="display: flex;">
            <button type="submit" class="button select-button" style="width: auto;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}