{% extends "base.html" %}
{% block title %}
{{ dish.dish_name | capitalize }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='price.css') }}">
{% endblock %}
{% block content %}
<div class="review-container">
    <h2>Price</h2>
    <form method="POST" action="/dishes/price_review/{{ dish.dish_name }}">
        <div class="input-group">
            <input name="price" id="price" type="number" min="0" step="any" placeholder="Example: 25.30" required />
            <select class="form-select" id="currency" name="currency" required>
                {% for value in currency %}
                <option value="{{ value.Code }}" {% if value.Code=='AFN' %}selected{% endif %}>{{ value.Currency }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="button-box" style="display: flex;">
            <button type="submit" class="button select-button" style="width: auto;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}