{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/profile.css') }}">
{% endblock %}
{% block content %}
<div class="review-container">
    <table>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            {% if user.email is defined and user.email %}
                <td>{{ user.email }}</td>
            {% else %}
                <td>No email provided</td>
            {% endif %}
        </tr>
        <tr>
            <th>Admin</th>
            <td>{{ user.admin }}</td>
        </tr>
        <tr>
            <th>Google ID</th>
            <td>{{ user.google_id }}</td>
        </tr>
        <tr>
            <th>Registered At</th>
            <td>{{ user.created_at|time_ago }}</td>
        </tr>
        <tr>
            <th>Last Login</th>
            <td>{{ user.last_login|time_ago }}</td>
        </tr>
        <tr>
            <th>Dietary Preference</th>
            <td>
                <form method="POST" action="{{ url_for('users.updateDietaryPreference') }}">
                    <select name="dietary_preference" onchange="this.form.submit()">
                        <option value="">None</option>
                        {% for dietary in dietaries %}
                            <option value="{{ dietary.dietary }}" {% if user.dietary_preference == dietary.dietary %}selected{% endif %}>{{ dietary.dietary }}</option>
                        {% endfor %}
                    </select>
                </form>
            </td>
        </tr>
    </table>
</div>
{% endblock %}