{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/profile.css') }}">
{% endblock %}
{% block content %}
<div class="review-container">
    <table>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>{{ user.admin }}</td>
        </tr>
        <tr>
            <th>Google ID</th>
            <td>{{ user.google_id }}</td>
        </tr>
        <tr>
            <th>Registered At</th>
            <td>{{ user.created_at|time_ago }}</td>
        </tr>
        <tr>
            <th>Last Login</th>
            <td>{{ user.last_login|time_ago }}</td>
        </tr>
        <!-- <tr>
            <th>Dietary Preference</th>
            <td>
                <form method="POST" action="{{ url_for('users.updateDietaryPrefernece') }}">
                    <select name="dietary_preference">
                        <option value="None" {% if user.dietary_preference == 'None' %}selected{% endif %}>None</option>
                        <option value="Vegetarian" {% if user.dietary_preference == 'Vegetarian' %}selected{% endif %}>Vegetarian</option>
                        <option value="Vegan" {% if user.dietary_preference == 'Vegan' %}selected{% endif %}>Vegan</option>
                        <option value="Gluten-Free" {% if user.dietary_preference == 'Gluten-Free' %}selected{% endif %}>Gluten-Free</option>
                        <option value="Halal" {% if user.dietary_preference == 'Halal' %}selected{% endif %}>Halal</option>
                        <option value="Kosher" {% if user.dietary_preference == 'Kosher' %}selected{% endif %}>Kosher</option>
                    </select>
                    <button type="submit">Save</button>
                </form>
            </td>
        </tr> -->
    </table>
</div>
{% endblock %}