<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Recommendation</title>
    <link rel="stylesheet" href="../static/css/recommendation.css">
</head>
<body>
    <h1>Korean Meal Recommendation</h1>

    <div id="recommendation-results">
        {% if recommendation and recommendation[0].dish_name != "No match found" %}
            <ul>
                {% for dish in recommendation %}
                    <li>
                        <h2>{{ dish.dish_name }}</h2>
                        <p><strong>Dietary Restrictions:</strong> {{ dish.dietary_restrictions | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Health Goals:</strong> {{ dish.health_goals | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Meal Type:</strong> {{ dish.meal_type | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Time to Prepare:</strong> {{ dish.time_to_prepare | replace('_', ' ') }}</p>
                        <p><strong>Ingredient Availability:</strong> {{ dish.ingredient_availability | replace('_', ' ') }}</p>
                        <p><strong>Cooking Equipment:</strong> {{ dish.cooking_equipment | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Budget:</strong> {{ dish.budget | replace('_', ' ') }}</p>
                        <p><strong>Occasion:</strong> {{ dish.occasion | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Taste Preferences:</strong> {{ dish.taste_preferences | join(', ') | replace('_', ' ') }}</p>
                        <p><strong>Sustainability:</strong> {{ dish.sustainability | replace('_', ' ') }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>No Matches Found</h2>
            <p>Try relaxing the filters or selecting different criteria.</p>
        {% endif %}
    </div>

    <div id="buttonBox">
        <a href="/" class="button">Back to Home</a>
    </div>
</body>
</html>
