{% extends "base.html" %}
{% block title %}Recommendation{% endblock %}
{% block content %}
<div id="recommendation-results">
    {% if recommendation and recommendation[0].dish_name != "No match found" %}
        <ul class="food-container">
            {% for dish in recommendation %}
            <li>
                <form action="/food/{{ dish.dish_name }}" method="POST" class="food-box">
                    <h2>{{ dish.dish_name }}</h2>
                    <p><strong>Description:</strong> {{ dish.description }}</p>
                    <p><strong>Adjectives:</strong> {{ dish.adjectives | join(', ') | replace('_', ' ') }}</p>
                    <button type="submit" class="food-box-button">Details</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="no-matches">
            <h2>No Matches Found</h2>
            <p>Try relaxing the filters or selecting different criteria.</p>
        </div>
    {% endif %}
</div>
<div id="buttonBox">
    <button onclick="window.location.href='/'" class="button">Back to Home</button>
</div>
{% endblock %}