{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='request.css') }}">
{% endblock %}
{% block content %}
<form action="/request/submit-request" method="POST" class="criteria-form">
    <h3>Name</h3>
    <input autocomplete="text" id="name" name="name" placeholder="Example: Sundae" required>

    <h3>Description</h3>
    <textarea id="description" name="description" rows="4"
        placeholder="Example: Korean blood sausage stuffed with glass noodles" required></textarea>

    <button type="submit">Submit</button>
</form>
{% endblock %}