
{% extends "base.html" %}
{% block title %}Your Kfood-Review{% endblock %}
{% block content %}
<div class="review-container">
    <h2>{{ dish.dish_name }}</h2>
    <form method="POST" action="/dishes/select/{{ dish.dish_name }}">
        <div class="input-group">
            <input placeholder="Enter the price" type="number" step="0.01" id="price" name="price">
            <input placeholder="Enter the restaurant name" type="text" id="restaurant" name="restaurant">
        </div>
        <div class="rating-container">
            {% for i in range(1, 6) %}
                <input type="radio" id="star-{{ dish.id }}-{{ i }}" name="rating" value="{{ 6 - i }}"
                    {% if dish.rating == (6 - i) %}checked{% endif %}>
                <label for="star-{{ dish.id }}-{{ i }}">&#9733;</label>
            {% endfor %}
        </div>
        <div class="button-box">
            <button type="submit" class="button select-button">Submit</button>
        </div>
    </form>
</div>

{% endblock %}