{% extends "base.html" %} {% block title %}Terms of Service{% endblock %} {%
block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/aboutus.css') }}"
/>
{% endblock %} {% block content %}

<section class="about-section">
  <div class="about-us-container">
    <h2>Terms of Service</h2>
    <p>
      By using Your mykoreandish, you agree to the following terms and
      conditions.
    </p>
  </div>
</section>

<section class="about-section alt">
  <div class="about-us-container">
    <h2>Acceptance of Terms</h2>
    <p>Using this website implies acceptance of these terms.</p>
  </div>
</section>

<section class="about-section">
  <div class="about-us-container">
    <h2>User Responsibilities</h2>
    <p>
      Users must use the site responsibly and comply with all applicable laws.
    </p>
  </div>
</section>

<section class="about-section alt">
  <div class="about-us-container">
    <h2>Intellectual Property</h2>
    <p>
      All content on this site is the property of Your K-food and may not be
      reused without permission.
    </p>
  </div>
</section>

<section class="about-section">
  <div class="about-us-container">
    <h2>Limitation of Liability</h2>
    <p>
      We are not liable for any damages arising from using our services or
      following mykoreandish.
    </p>
  </div>
</section>

<section class="about-section alt">
  <div class="about-us-container">
    <h2>Changes to Terms</h2>
    <p>
      We reserve the right to update these terms at any time, with notice
      provided on this page.
    </p>
  </div>
</section>

<section class="about-section">
  <div class="about-us-container">
    <h2>Contact Us</h2>
    <p>
      If you have any questions about these terms, feel free to
      <a href="mailto:nikolaikim27@gmail.com">contact us via email</a>.
    </p>
  </div>
</section>
{% endblock %}
