<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}mykoreandish{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/flash.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/base.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    {% block style %}{% endblock %}
  </head>

  <body>
    <div id="main-container">
      <div id="toast-container"></div>
      <div id="topBar">
        <h1>
          <a href="/" style="text-decoration: none; color: inherit"
            >mykoreandish</a
          >
        </h1>
        <div class="auth-links">
          <div class="user-dropdown" id="auth-container"></div>
        </div>
      </div>
      <main>{% block content %} {% endblock %}</main>
      <footer>
        <p>&copy; <i id="current-year"></i> mykoreandish. All rights reserved.</p>
        <p>
          <a href="/aboutus"><b>About Us</b></a> |
          <a href="/privacy"><b>Privacy</b></a> |
          <a href="/terms"><b>Terms</b></a> |
          <a href="/faq"><b>FAQ</b></a>
        </p>
      </footer>
    </div>
  </body>
  <script type="module" src="{{ url_for('static', filename='js/pages/auth.js') }}"></script>
  <script>
    function toggleDropdown() {
      const menu = document.querySelector(".menu");
      menu.classList.toggle("open");
      var dropdown = event.target.closest(".user-dropdown");
      dropdown.classList.toggle("show-dropdown");
    }

    document.getElementById("current-year").innerText = new Date().getFullYear();

  </script>
</html>
