{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/aboutus.css') }}"
/>
{% endblock %} {% block content %}
<section class="about-section">
  <div class="about-us-container">
    <h2 id="name">-</h2>
    <ul class="popular-dishes-list">
      <li>
        <a id="email">Email: -</a>
      </li>
      <li>
        <a id="admin">Admin: -</a>
      </li>
      <li>
        <ul id="dietary_preferences">Dietary preference: -</ul>
      </li>
      <li>
        <ul id="friends_list">Friends: Upcoming feature</ul>
      </li>
      <li>
        <a id="last_login">Last login: -</a>
      </li>
      <li>
        <a id="created_at">Registered at: -</a>
      </li>
    </ul>
  </div>
</section>
<script type="module" src="/static/js/pages/userProfile.js"></script>
{% endblock %}
